Telegram IBM Visual Recognition Flow.json
[{"id":"25f8997.aabf866","type":"tab","label":"Telegram Visual","disabled":false,"info":""},{"id":"80c9fac7.212158","type":"change","z":"25f8997.aabf866","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["754c933.202ad6c"]]},{"id":"45944bb7.ddb584","type":"visual-recognition-v3","z":"25f8997.aabf866","name":"","image-feature":"classifyImage","lang":"en","x":650,"y":220,"wires":[["32f65b0b.a20954"]]},{"id":"7ad06f3d.dd94a","type":"telegram receiver","z":"25f8997.aabf866","name":"CatEmotions","bot":"48cab29e.4bdfec","saveDataDir":"","filterCommands":false,"x":90,"y":60,"wires":[["97f6b893.c74da8"],[]]},{"id":"e457ef1.c90b11","type":"telegram sender","z":"25f8997.aabf866","name":"","bot":"48cab29e.4bdfec","haserroroutput":false,"outputs":1,"x":780,"y":440,"wires":[[]]},{"id":"32f65b0b.a20954","type":"function","z":"25f8997.aabf866","name":"Get Results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              if (current_value.score>=0.5){\n                result.push(current_value.class,current_value.score);}   \n          });\n        });\n    if (result.length==0){ result.push(\"MeowAunty is not able to read the emotion. Can you show us another cute cat image?\");}\nmsg.verbal=result.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":340,"wires":[["a4d5c107.81f3d"]]},{"id":"a4d5c107.81f3d","type":"function","z":"25f8997.aabf866","name":"Prepare Message","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.verbal\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["e457ef1.c90b11"]]},{"id":"97f6b893.c74da8","type":"function","z":"25f8997.aabf866","name":"Check Message","func":"msg.chatId= msg.payload.chatId;\n\nimageurl = encodeURI(msg.payload.weblink);\nmsg.url=imageurl;\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":120,"y":160,"wires":[["45ec041c.5031bc"],[],[]]},{"id":"49738c04.8a4e94","type":"function","z":"25f8997.aabf866","name":"Prepare Message","func":"msg.payload.content = 'Please upload an image. This bot will attempt to analyze the picture you are uploading.'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["e457ef1.c90b11"]]},{"id":"45ec041c.5031bc","type":"switch","z":"25f8997.aabf866","name":"Check if image","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":240,"wires":[["80c9fac7.212158"],["49738c04.8a4e94"]]},{"id":"754c933.202ad6c","type":"function","z":"25f8997.aabf866","name":"","func":"msg.params={\"classifier_ids\":[\"DefaultCustomModel_1251457101\"],\"threshold\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["45944bb7.ddb584"]]},{"id":"48cab29e.4bdfec","type":"telegram bot","botname":"catemotions_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]